<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinayouthedu.zqzc.mapper.paike.ClaMapper" >
  <resultMap id="BaseResultMap" type="com.chinayouthedu.zqzc.entity.paike.Cla" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cla_name" property="claName" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="effictive" property="effictive" jdbcType="BIT" />
    <result column="class_code" property="classCode" jdbcType="VARCHAR" />
    <result column="class_grade_id" property="classGradeId" jdbcType="BIGINT" />
    <result column="class_grade_name" property="classGradeName" jdbcType="VARCHAR" />
    <result column="class_plan_stu_num" property="classPlanStuNum" jdbcType="SMALLINT" />
    <result column="class_stu_num" property="classStuNum" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="sys_status" property="sysStatus" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="class_type" property="classType" jdbcType="VARCHAR" />
    <result column="key_classroom_id" property="keyClassroomId" jdbcType="BIGINT" />
    <result column="key_classroom_name" property="keyClassroomName" jdbcType="VARCHAR" />
    <result column="key_classroom_bulding_id" property="keyClassroomBuldingId" jdbcType="BIGINT" />
    <result column="key_classroom_bulding_name" property="keyClassroomBuldingName" jdbcType="VARCHAR" />
    <result column="teacher1_id" property="teacher1Id" jdbcType="BIGINT" />
    <result column="teacher1_name" property="teacher1Name" jdbcType="VARCHAR" />
    <result column="teacher2_id" property="teacher2Id" jdbcType="BIGINT" />
    <result column="teacher2_name" property="teacher2Name" jdbcType="VARCHAR" />
    <result column="school_year_id" property="schoolYearId" jdbcType="BIGINT" />
    <result column="semester_id" property="semesterId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cla_name, start_date, end_date, effictive, class_code, class_grade_id, class_grade_name,
    class_plan_stu_num, class_stu_num, status, sys_status, create_time, update_time,
    class_type, key_classroom_id, key_classroom_name, key_classroom_bulding_id, key_classroom_bulding_name,
    teacher1_id, teacher1_name, teacher2_id, teacher2_name, school_year_id, semester_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinayouthedu.zqzc.entity.paike.ClaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cla
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from cla
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cla
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.ClaExample" >
    delete from cla
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinayouthedu.zqzc.entity.paike.Cla" >
    insert into cla (id, cla_name, start_date,
      end_date, effictive, class_code,
      class_grade_id, class_grade_name, class_plan_stu_num,
      class_stu_num, status, sys_status,
      create_time, update_time, class_type,
      key_classroom_id, key_classroom_name, key_classroom_bulding_id,
      key_classroom_bulding_name, teacher1_id, teacher1_name,
      teacher2_id, teacher2_name, school_year_id,
      semester_id)
    values (#{id,jdbcType=BIGINT}, #{claName,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE},
      #{endDate,jdbcType=DATE}, #{effictive,jdbcType=BIT}, #{classCode,jdbcType=VARCHAR},
      #{classGradeId,jdbcType=BIGINT}, #{classGradeName,jdbcType=VARCHAR}, #{classPlanStuNum,jdbcType=SMALLINT},
      #{classStuNum,jdbcType=SMALLINT}, #{status,jdbcType=VARCHAR}, #{sysStatus,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{classType,jdbcType=VARCHAR},
      #{keyClassroomId,jdbcType=BIGINT}, #{keyClassroomName,jdbcType=VARCHAR}, #{keyClassroomBuldingId,jdbcType=BIGINT},
      #{keyClassroomBuldingName,jdbcType=VARCHAR}, #{teacher1Id,jdbcType=BIGINT}, #{teacher1Name,jdbcType=VARCHAR},
      #{teacher2Id,jdbcType=BIGINT}, #{teacher2Name,jdbcType=VARCHAR}, #{schoolYearId,jdbcType=BIGINT},
      #{semesterId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.chinayouthedu.zqzc.entity.paike.Cla" >
    insert into cla
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="claName != null" >
        cla_name,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="effictive != null" >
        effictive,
      </if>
      <if test="classCode != null" >
        class_code,
      </if>
      <if test="classGradeId != null" >
        class_grade_id,
      </if>
      <if test="classGradeName != null" >
        class_grade_name,
      </if>
      <if test="classPlanStuNum != null" >
        class_plan_stu_num,
      </if>
      <if test="classStuNum != null" >
        class_stu_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sysStatus != null" >
        sys_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="classType != null" >
        class_type,
      </if>
      <if test="keyClassroomId != null" >
        key_classroom_id,
      </if>
      <if test="keyClassroomName != null" >
        key_classroom_name,
      </if>
      <if test="keyClassroomBuldingId != null" >
        key_classroom_bulding_id,
      </if>
      <if test="keyClassroomBuldingName != null" >
        key_classroom_bulding_name,
      </if>
      <if test="teacher1Id != null" >
        teacher1_id,
      </if>
      <if test="teacher1Name != null" >
        teacher1_name,
      </if>
      <if test="teacher2Id != null" >
        teacher2_id,
      </if>
      <if test="teacher2Name != null" >
        teacher2_name,
      </if>
      <if test="schoolYearId != null" >
        school_year_id,
      </if>
      <if test="semesterId != null" >
        semester_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="claName != null" >
        #{claName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="effictive != null" >
        #{effictive,jdbcType=BIT},
      </if>
      <if test="classCode != null" >
        #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="classGradeId != null" >
        #{classGradeId,jdbcType=BIGINT},
      </if>
      <if test="classGradeName != null" >
        #{classGradeName,jdbcType=VARCHAR},
      </if>
      <if test="classPlanStuNum != null" >
        #{classPlanStuNum,jdbcType=SMALLINT},
      </if>
      <if test="classStuNum != null" >
        #{classStuNum,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sysStatus != null" >
        #{sysStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classType != null" >
        #{classType,jdbcType=VARCHAR},
      </if>
      <if test="keyClassroomId != null" >
        #{keyClassroomId,jdbcType=BIGINT},
      </if>
      <if test="keyClassroomName != null" >
        #{keyClassroomName,jdbcType=VARCHAR},
      </if>
      <if test="keyClassroomBuldingId != null" >
        #{keyClassroomBuldingId,jdbcType=BIGINT},
      </if>
      <if test="keyClassroomBuldingName != null" >
        #{keyClassroomBuldingName,jdbcType=VARCHAR},
      </if>
      <if test="teacher1Id != null" >
        #{teacher1Id,jdbcType=BIGINT},
      </if>
      <if test="teacher1Name != null" >
        #{teacher1Name,jdbcType=VARCHAR},
      </if>
      <if test="teacher2Id != null" >
        #{teacher2Id,jdbcType=BIGINT},
      </if>
      <if test="teacher2Name != null" >
        #{teacher2Name,jdbcType=VARCHAR},
      </if>
      <if test="schoolYearId != null" >
        #{schoolYearId,jdbcType=BIGINT},
      </if>
      <if test="semesterId != null" >
        #{semesterId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.ClaExample" resultType="java.lang.Integer" >
    select count(*) from cla
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cla
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.claName != null" >
        cla_name = #{record.claName,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.effictive != null" >
        effictive = #{record.effictive,jdbcType=BIT},
      </if>
      <if test="record.classCode != null" >
        class_code = #{record.classCode,jdbcType=VARCHAR},
      </if>
      <if test="record.classGradeId != null" >
        class_grade_id = #{record.classGradeId,jdbcType=BIGINT},
      </if>
      <if test="record.classGradeName != null" >
        class_grade_name = #{record.classGradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.classPlanStuNum != null" >
        class_plan_stu_num = #{record.classPlanStuNum,jdbcType=SMALLINT},
      </if>
      <if test="record.classStuNum != null" >
        class_stu_num = #{record.classStuNum,jdbcType=SMALLINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.sysStatus != null" >
        sys_status = #{record.sysStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classType != null" >
        class_type = #{record.classType,jdbcType=VARCHAR},
      </if>
      <if test="record.keyClassroomId != null" >
        key_classroom_id = #{record.keyClassroomId,jdbcType=BIGINT},
      </if>
      <if test="record.keyClassroomName != null" >
        key_classroom_name = #{record.keyClassroomName,jdbcType=VARCHAR},
      </if>
      <if test="record.keyClassroomBuldingId != null" >
        key_classroom_bulding_id = #{record.keyClassroomBuldingId,jdbcType=BIGINT},
      </if>
      <if test="record.keyClassroomBuldingName != null" >
        key_classroom_bulding_name = #{record.keyClassroomBuldingName,jdbcType=VARCHAR},
      </if>
      <if test="record.teacher1Id != null" >
        teacher1_id = #{record.teacher1Id,jdbcType=BIGINT},
      </if>
      <if test="record.teacher1Name != null" >
        teacher1_name = #{record.teacher1Name,jdbcType=VARCHAR},
      </if>
      <if test="record.teacher2Id != null" >
        teacher2_id = #{record.teacher2Id,jdbcType=BIGINT},
      </if>
      <if test="record.teacher2Name != null" >
        teacher2_name = #{record.teacher2Name,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolYearId != null" >
        school_year_id = #{record.schoolYearId,jdbcType=BIGINT},
      </if>
      <if test="record.semesterId != null" >
        semester_id = #{record.semesterId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cla
    set id = #{record.id,jdbcType=BIGINT},
      cla_name = #{record.claName,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      effictive = #{record.effictive,jdbcType=BIT},
      class_code = #{record.classCode,jdbcType=VARCHAR},
      class_grade_id = #{record.classGradeId,jdbcType=BIGINT},
      class_grade_name = #{record.classGradeName,jdbcType=VARCHAR},
      class_plan_stu_num = #{record.classPlanStuNum,jdbcType=SMALLINT},
      class_stu_num = #{record.classStuNum,jdbcType=SMALLINT},
      status = #{record.status,jdbcType=VARCHAR},
      sys_status = #{record.sysStatus,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      class_type = #{record.classType,jdbcType=VARCHAR},
      key_classroom_id = #{record.keyClassroomId,jdbcType=BIGINT},
      key_classroom_name = #{record.keyClassroomName,jdbcType=VARCHAR},
      key_classroom_bulding_id = #{record.keyClassroomBuldingId,jdbcType=BIGINT},
      key_classroom_bulding_name = #{record.keyClassroomBuldingName,jdbcType=VARCHAR},
      teacher1_id = #{record.teacher1Id,jdbcType=BIGINT},
      teacher1_name = #{record.teacher1Name,jdbcType=VARCHAR},
      teacher2_id = #{record.teacher2Id,jdbcType=BIGINT},
      teacher2_name = #{record.teacher2Name,jdbcType=VARCHAR},
      school_year_id = #{record.schoolYearId,jdbcType=BIGINT},
      semester_id = #{record.semesterId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinayouthedu.zqzc.entity.paike.Cla" >
    update cla
    <set >
      <if test="claName != null" >
        cla_name = #{claName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="effictive != null" >
        effictive = #{effictive,jdbcType=BIT},
      </if>
      <if test="classCode != null" >
        class_code = #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="classGradeId != null" >
        class_grade_id = #{classGradeId,jdbcType=BIGINT},
      </if>
      <if test="classGradeName != null" >
        class_grade_name = #{classGradeName,jdbcType=VARCHAR},
      </if>
      <if test="classPlanStuNum != null" >
        class_plan_stu_num = #{classPlanStuNum,jdbcType=SMALLINT},
      </if>
      <if test="classStuNum != null" >
        class_stu_num = #{classStuNum,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sysStatus != null" >
        sys_status = #{sysStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classType != null" >
        class_type = #{classType,jdbcType=VARCHAR},
      </if>
      <if test="keyClassroomId != null" >
        key_classroom_id = #{keyClassroomId,jdbcType=BIGINT},
      </if>
      <if test="keyClassroomName != null" >
        key_classroom_name = #{keyClassroomName,jdbcType=VARCHAR},
      </if>
      <if test="keyClassroomBuldingId != null" >
        key_classroom_bulding_id = #{keyClassroomBuldingId,jdbcType=BIGINT},
      </if>
      <if test="keyClassroomBuldingName != null" >
        key_classroom_bulding_name = #{keyClassroomBuldingName,jdbcType=VARCHAR},
      </if>
      <if test="teacher1Id != null" >
        teacher1_id = #{teacher1Id,jdbcType=BIGINT},
      </if>
      <if test="teacher1Name != null" >
        teacher1_name = #{teacher1Name,jdbcType=VARCHAR},
      </if>
      <if test="teacher2Id != null" >
        teacher2_id = #{teacher2Id,jdbcType=BIGINT},
      </if>
      <if test="teacher2Name != null" >
        teacher2_name = #{teacher2Name,jdbcType=VARCHAR},
      </if>
      <if test="schoolYearId != null" >
        school_year_id = #{schoolYearId,jdbcType=BIGINT},
      </if>
      <if test="semesterId != null" >
        semester_id = #{semesterId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinayouthedu.zqzc.entity.paike.Cla" >
    update cla
    set cla_name = #{claName,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      effictive = #{effictive,jdbcType=BIT},
      class_code = #{classCode,jdbcType=VARCHAR},
      class_grade_id = #{classGradeId,jdbcType=BIGINT},
      class_grade_name = #{classGradeName,jdbcType=VARCHAR},
      class_plan_stu_num = #{classPlanStuNum,jdbcType=SMALLINT},
      class_stu_num = #{classStuNum,jdbcType=SMALLINT},
      status = #{status,jdbcType=VARCHAR},
      sys_status = #{sysStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      class_type = #{classType,jdbcType=VARCHAR},
      key_classroom_id = #{keyClassroomId,jdbcType=BIGINT},
      key_classroom_name = #{keyClassroomName,jdbcType=VARCHAR},
      key_classroom_bulding_id = #{keyClassroomBuldingId,jdbcType=BIGINT},
      key_classroom_bulding_name = #{keyClassroomBuldingName,jdbcType=VARCHAR},
      teacher1_id = #{teacher1Id,jdbcType=BIGINT},
      teacher1_name = #{teacher1Name,jdbcType=VARCHAR},
      teacher2_id = #{teacher2Id,jdbcType=BIGINT},
      teacher2_name = #{teacher2Name,jdbcType=VARCHAR},
      school_year_id = #{schoolYearId,jdbcType=BIGINT},
      semester_id = #{semesterId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>