<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinayouthedu.zqzc.mapper.paike.DataDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.chinayouthedu.zqzc.entity.paike.DataDictionary">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dictionary_code" jdbcType="VARCHAR" property="dictionaryCode" />
    <result column="dictionary_type" jdbcType="VARCHAR" property="dictionaryType" />
    <result column="dictionary_icon" jdbcType="VARCHAR" property="dictionaryIcon" />
    <result column="dictionary_name" jdbcType="VARCHAR" property="dictionaryName" />
    <result column="dictionary_sort" jdbcType="INTEGER" property="dictionarySort" />
    <result column="dictionary_source" jdbcType="BIGINT" property="dictionarySource" />
    <result column="dictionary_other" jdbcType="VARCHAR" property="dictionaryOther" />
    <result column="system_status" jdbcType="VARCHAR" property="systemStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, dictionary_code, dictionary_type, dictionary_icon, dictionary_name, dictionary_sort, 
    dictionary_source, dictionary_other, system_status, create_time, update_time, remark
  </sql>
  <select id="selectByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.DataDictionaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zczx_data_dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zczx_data_dictionary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zczx_data_dictionary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.DataDictionaryExample">
    delete from zczx_data_dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinayouthedu.zqzc.entity.paike.DataDictionary">
    insert into zczx_data_dictionary (id, dictionary_code, dictionary_type, 
      dictionary_icon, dictionary_name, dictionary_sort, 
      dictionary_source, dictionary_other, system_status, 
      create_time, update_time, remark
      )
    values (#{id,jdbcType=BIGINT}, #{dictionaryCode,jdbcType=VARCHAR}, #{dictionaryType,jdbcType=VARCHAR}, 
      #{dictionaryIcon,jdbcType=VARCHAR}, #{dictionaryName,jdbcType=VARCHAR}, #{dictionarySort,jdbcType=INTEGER}, 
      #{dictionarySource,jdbcType=BIGINT}, #{dictionaryOther,jdbcType=VARCHAR}, #{systemStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinayouthedu.zqzc.entity.paike.DataDictionary">
    insert into zczx_data_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dictionaryCode != null">
        dictionary_code,
      </if>
      <if test="dictionaryType != null">
        dictionary_type,
      </if>
      <if test="dictionaryIcon != null">
        dictionary_icon,
      </if>
      <if test="dictionaryName != null">
        dictionary_name,
      </if>
      <if test="dictionarySort != null">
        dictionary_sort,
      </if>
      <if test="dictionarySource != null">
        dictionary_source,
      </if>
      <if test="dictionaryOther != null">
        dictionary_other,
      </if>
      <if test="systemStatus != null">
        system_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dictionaryCode != null">
        #{dictionaryCode,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryType != null">
        #{dictionaryType,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryIcon != null">
        #{dictionaryIcon,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryName != null">
        #{dictionaryName,jdbcType=VARCHAR},
      </if>
      <if test="dictionarySort != null">
        #{dictionarySort,jdbcType=INTEGER},
      </if>
      <if test="dictionarySource != null">
        #{dictionarySource,jdbcType=BIGINT},
      </if>
      <if test="dictionaryOther != null">
        #{dictionaryOther,jdbcType=VARCHAR},
      </if>
      <if test="systemStatus != null">
        #{systemStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.DataDictionaryExample" resultType="java.lang.Long">
    select count(*) from zczx_data_dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zczx_data_dictionary
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.dictionaryCode != null">
        dictionary_code = #{record.dictionaryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dictionaryType != null">
        dictionary_type = #{record.dictionaryType,jdbcType=VARCHAR},
      </if>
      <if test="record.dictionaryIcon != null">
        dictionary_icon = #{record.dictionaryIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.dictionaryName != null">
        dictionary_name = #{record.dictionaryName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictionarySort != null">
        dictionary_sort = #{record.dictionarySort,jdbcType=INTEGER},
      </if>
      <if test="record.dictionarySource != null">
        dictionary_source = #{record.dictionarySource,jdbcType=BIGINT},
      </if>
      <if test="record.dictionaryOther != null">
        dictionary_other = #{record.dictionaryOther,jdbcType=VARCHAR},
      </if>
      <if test="record.systemStatus != null">
        system_status = #{record.systemStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zczx_data_dictionary
    set id = #{record.id,jdbcType=BIGINT},
      dictionary_code = #{record.dictionaryCode,jdbcType=VARCHAR},
      dictionary_type = #{record.dictionaryType,jdbcType=VARCHAR},
      dictionary_icon = #{record.dictionaryIcon,jdbcType=VARCHAR},
      dictionary_name = #{record.dictionaryName,jdbcType=VARCHAR},
      dictionary_sort = #{record.dictionarySort,jdbcType=INTEGER},
      dictionary_source = #{record.dictionarySource,jdbcType=BIGINT},
      dictionary_other = #{record.dictionaryOther,jdbcType=VARCHAR},
      system_status = #{record.systemStatus,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinayouthedu.zqzc.entity.paike.DataDictionary">
    update zczx_data_dictionary
    <set>
      <if test="dictionaryCode != null">
        dictionary_code = #{dictionaryCode,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryType != null">
        dictionary_type = #{dictionaryType,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryIcon != null">
        dictionary_icon = #{dictionaryIcon,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryName != null">
        dictionary_name = #{dictionaryName,jdbcType=VARCHAR},
      </if>
      <if test="dictionarySort != null">
        dictionary_sort = #{dictionarySort,jdbcType=INTEGER},
      </if>
      <if test="dictionarySource != null">
        dictionary_source = #{dictionarySource,jdbcType=BIGINT},
      </if>
      <if test="dictionaryOther != null">
        dictionary_other = #{dictionaryOther,jdbcType=VARCHAR},
      </if>
      <if test="systemStatus != null">
        system_status = #{systemStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinayouthedu.zqzc.entity.paike.DataDictionary">
    update zczx_data_dictionary
    set dictionary_code = #{dictionaryCode,jdbcType=VARCHAR},
      dictionary_type = #{dictionaryType,jdbcType=VARCHAR},
      dictionary_icon = #{dictionaryIcon,jdbcType=VARCHAR},
      dictionary_name = #{dictionaryName,jdbcType=VARCHAR},
      dictionary_sort = #{dictionarySort,jdbcType=INTEGER},
      dictionary_source = #{dictionarySource,jdbcType=BIGINT},
      dictionary_other = #{dictionaryOther,jdbcType=VARCHAR},
      system_status = #{systemStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>