<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinayouthedu.zqzc.mapper.paike.TimetableRuleMapper">
  <resultMap id="BaseResultMap" type="com.chinayouthedu.zqzc.entity.paike.TimetableRule">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_num" jdbcType="INTEGER" property="courseNum" />
    <result column="course_length" jdbcType="INTEGER" property="courseLength" />
    <result column="first_course_time" jdbcType="VARCHAR" property="firstCourseTime" />
    <result column="gymnastics_sort" jdbcType="INTEGER" property="gymnasticsSort" />
    <result column="gymnastics_length" jdbcType="INTEGER" property="gymnasticsLength" />
    <result column="pm_first_course_time" jdbcType="VARCHAR" property="pmFirstCourseTime" />
    <result column="pm_first_course_sort" jdbcType="INTEGER" property="pmFirstCourseSort" />
    <result column="recess" jdbcType="INTEGER" property="recess" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="system_status" jdbcType="VARCHAR" property="systemStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, course_num, course_length, first_course_time, gymnastics_sort, gymnastics_length, 
    pm_first_course_time, pm_first_course_sort, recess, create_time, update_time, system_status
  </sql>
  <select id="selectByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.TimetableRuleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from timetable_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from timetable_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from timetable_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.TimetableRuleExample">
    delete from timetable_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinayouthedu.zqzc.entity.paike.TimetableRule">
    insert into timetable_rule (id, course_num, course_length, 
      first_course_time, gymnastics_sort, gymnastics_length, 
      pm_first_course_time, pm_first_course_sort, recess, 
      create_time, update_time, system_status
      )
    values (#{id,jdbcType=BIGINT}, #{courseNum,jdbcType=INTEGER}, #{courseLength,jdbcType=INTEGER}, 
      #{firstCourseTime,jdbcType=VARCHAR}, #{gymnasticsSort,jdbcType=INTEGER}, #{gymnasticsLength,jdbcType=INTEGER}, 
      #{pmFirstCourseTime,jdbcType=VARCHAR}, #{pmFirstCourseSort,jdbcType=INTEGER}, #{recess,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{systemStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinayouthedu.zqzc.entity.paike.TimetableRule">
    insert into timetable_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseNum != null">
        course_num,
      </if>
      <if test="courseLength != null">
        course_length,
      </if>
      <if test="firstCourseTime != null">
        first_course_time,
      </if>
      <if test="gymnasticsSort != null">
        gymnastics_sort,
      </if>
      <if test="gymnasticsLength != null">
        gymnastics_length,
      </if>
      <if test="pmFirstCourseTime != null">
        pm_first_course_time,
      </if>
      <if test="pmFirstCourseSort != null">
        pm_first_course_sort,
      </if>
      <if test="recess != null">
        recess,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="systemStatus != null">
        system_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="courseNum != null">
        #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="courseLength != null">
        #{courseLength,jdbcType=INTEGER},
      </if>
      <if test="firstCourseTime != null">
        #{firstCourseTime,jdbcType=VARCHAR},
      </if>
      <if test="gymnasticsSort != null">
        #{gymnasticsSort,jdbcType=INTEGER},
      </if>
      <if test="gymnasticsLength != null">
        #{gymnasticsLength,jdbcType=INTEGER},
      </if>
      <if test="pmFirstCourseTime != null">
        #{pmFirstCourseTime,jdbcType=VARCHAR},
      </if>
      <if test="pmFirstCourseSort != null">
        #{pmFirstCourseSort,jdbcType=INTEGER},
      </if>
      <if test="recess != null">
        #{recess,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemStatus != null">
        #{systemStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.TimetableRuleExample" resultType="java.lang.Long">
    select count(*) from timetable_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update timetable_rule
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.courseNum != null">
        course_num = #{record.courseNum,jdbcType=INTEGER},
      </if>
      <if test="record.courseLength != null">
        course_length = #{record.courseLength,jdbcType=INTEGER},
      </if>
      <if test="record.firstCourseTime != null">
        first_course_time = #{record.firstCourseTime,jdbcType=VARCHAR},
      </if>
      <if test="record.gymnasticsSort != null">
        gymnastics_sort = #{record.gymnasticsSort,jdbcType=INTEGER},
      </if>
      <if test="record.gymnasticsLength != null">
        gymnastics_length = #{record.gymnasticsLength,jdbcType=INTEGER},
      </if>
      <if test="record.pmFirstCourseTime != null">
        pm_first_course_time = #{record.pmFirstCourseTime,jdbcType=VARCHAR},
      </if>
      <if test="record.pmFirstCourseSort != null">
        pm_first_course_sort = #{record.pmFirstCourseSort,jdbcType=INTEGER},
      </if>
      <if test="record.recess != null">
        recess = #{record.recess,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.systemStatus != null">
        system_status = #{record.systemStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update timetable_rule
    set id = #{record.id,jdbcType=BIGINT},
      course_num = #{record.courseNum,jdbcType=INTEGER},
      course_length = #{record.courseLength,jdbcType=INTEGER},
      first_course_time = #{record.firstCourseTime,jdbcType=VARCHAR},
      gymnastics_sort = #{record.gymnasticsSort,jdbcType=INTEGER},
      gymnastics_length = #{record.gymnasticsLength,jdbcType=INTEGER},
      pm_first_course_time = #{record.pmFirstCourseTime,jdbcType=VARCHAR},
      pm_first_course_sort = #{record.pmFirstCourseSort,jdbcType=INTEGER},
      recess = #{record.recess,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      system_status = #{record.systemStatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinayouthedu.zqzc.entity.paike.TimetableRule">
    update timetable_rule
    <set>
      <if test="courseNum != null">
        course_num = #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="courseLength != null">
        course_length = #{courseLength,jdbcType=INTEGER},
      </if>
      <if test="firstCourseTime != null">
        first_course_time = #{firstCourseTime,jdbcType=VARCHAR},
      </if>
      <if test="gymnasticsSort != null">
        gymnastics_sort = #{gymnasticsSort,jdbcType=INTEGER},
      </if>
      <if test="gymnasticsLength != null">
        gymnastics_length = #{gymnasticsLength,jdbcType=INTEGER},
      </if>
      <if test="pmFirstCourseTime != null">
        pm_first_course_time = #{pmFirstCourseTime,jdbcType=VARCHAR},
      </if>
      <if test="pmFirstCourseSort != null">
        pm_first_course_sort = #{pmFirstCourseSort,jdbcType=INTEGER},
      </if>
      <if test="recess != null">
        recess = #{recess,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemStatus != null">
        system_status = #{systemStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinayouthedu.zqzc.entity.paike.TimetableRule">
    update timetable_rule
    set course_num = #{courseNum,jdbcType=INTEGER},
      course_length = #{courseLength,jdbcType=INTEGER},
      first_course_time = #{firstCourseTime,jdbcType=VARCHAR},
      gymnastics_sort = #{gymnasticsSort,jdbcType=INTEGER},
      gymnastics_length = #{gymnasticsLength,jdbcType=INTEGER},
      pm_first_course_time = #{pmFirstCourseTime,jdbcType=VARCHAR},
      pm_first_course_sort = #{pmFirstCourseSort,jdbcType=INTEGER},
      recess = #{recess,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      system_status = #{systemStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>