<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinayouthedu.zqzc.mapper.paike.UserMapper">
  <resultMap id="BaseResultMap" type="com.chinayouthedu.zqzc.entity.paike.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="idcard_type" jdbcType="VARCHAR" property="idcardType" />
    <result column="idcard_code" jdbcType="VARCHAR" property="idcardCode" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="user_source" jdbcType="VARCHAR" property="userSource" />
    <result column="pwd_protection" jdbcType="VARCHAR" property="pwdProtection" />
    <result column="other_info" jdbcType="VARCHAR" property="otherInfo" />
    <result column="system_status" jdbcType="VARCHAR" property="systemStatus" />
    <result column="user_sort" jdbcType="BIGINT" property="userSort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_name, real_name, idcard_type, idcard_code, mobile_phone, user_email, user_type, 
    user_source, pwd_protection, other_info, system_status, user_sort, create_time, update_time, 
    remark
  </sql>
  <select id="selectByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zczx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zczx_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zczx_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.UserExample">
    delete from zczx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinayouthedu.zqzc.entity.paike.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into zczx_user (id, user_name, real_name, 
      idcard_type, idcard_code, mobile_phone, 
      user_email, user_type, user_source, 
      pwd_protection, other_info, system_status, 
      user_sort, create_time, update_time, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{idcardType,jdbcType=VARCHAR}, #{idcardCode,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{userSource,jdbcType=VARCHAR}, 
      #{pwdProtection,jdbcType=VARCHAR}, #{otherInfo,jdbcType=VARCHAR}, #{systemStatus,jdbcType=VARCHAR}, 
      #{userSort,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinayouthedu.zqzc.entity.paike.User">
    insert into zczx_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="idcardType != null">
        idcard_type,
      </if>
      <if test="idcardCode != null">
        idcard_code,
      </if>
      <if test="mobilePhone != null">
        mobile_phone,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="userSource != null">
        user_source,
      </if>
      <if test="pwdProtection != null">
        pwd_protection,
      </if>
      <if test="otherInfo != null">
        other_info,
      </if>
      <if test="systemStatus != null">
        system_status,
      </if>
      <if test="userSort != null">
        user_sort,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idcardType != null">
        #{idcardType,jdbcType=VARCHAR},
      </if>
      <if test="idcardCode != null">
        #{idcardCode,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userSource != null">
        #{userSource,jdbcType=VARCHAR},
      </if>
      <if test="pwdProtection != null">
        #{pwdProtection,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null">
        #{otherInfo,jdbcType=VARCHAR},
      </if>
      <if test="systemStatus != null">
        #{systemStatus,jdbcType=VARCHAR},
      </if>
      <if test="userSort != null">
        #{userSort,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinayouthedu.zqzc.entity.paike.UserExample" resultType="java.lang.Long">
    select count(*) from zczx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zczx_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null">
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardType != null">
        idcard_type = #{record.idcardType,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardCode != null">
        idcard_code = #{record.idcardCode,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null">
        mobile_phone = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null">
        user_email = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.userSource != null">
        user_source = #{record.userSource,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdProtection != null">
        pwd_protection = #{record.pwdProtection,jdbcType=VARCHAR},
      </if>
      <if test="record.otherInfo != null">
        other_info = #{record.otherInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.systemStatus != null">
        system_status = #{record.systemStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.userSort != null">
        user_sort = #{record.userSort,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zczx_user
    set id = #{record.id,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      idcard_type = #{record.idcardType,jdbcType=VARCHAR},
      idcard_code = #{record.idcardCode,jdbcType=VARCHAR},
      mobile_phone = #{record.mobilePhone,jdbcType=VARCHAR},
      user_email = #{record.userEmail,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=VARCHAR},
      user_source = #{record.userSource,jdbcType=VARCHAR},
      pwd_protection = #{record.pwdProtection,jdbcType=VARCHAR},
      other_info = #{record.otherInfo,jdbcType=VARCHAR},
      system_status = #{record.systemStatus,jdbcType=VARCHAR},
      user_sort = #{record.userSort,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinayouthedu.zqzc.entity.paike.User">
    update zczx_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idcardType != null">
        idcard_type = #{idcardType,jdbcType=VARCHAR},
      </if>
      <if test="idcardCode != null">
        idcard_code = #{idcardCode,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userSource != null">
        user_source = #{userSource,jdbcType=VARCHAR},
      </if>
      <if test="pwdProtection != null">
        pwd_protection = #{pwdProtection,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null">
        other_info = #{otherInfo,jdbcType=VARCHAR},
      </if>
      <if test="systemStatus != null">
        system_status = #{systemStatus,jdbcType=VARCHAR},
      </if>
      <if test="userSort != null">
        user_sort = #{userSort,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinayouthedu.zqzc.entity.paike.User">
    update zczx_user
    set user_name = #{userName,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      idcard_type = #{idcardType,jdbcType=VARCHAR},
      idcard_code = #{idcardCode,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      user_source = #{userSource,jdbcType=VARCHAR},
      pwd_protection = #{pwdProtection,jdbcType=VARCHAR},
      other_info = #{otherInfo,jdbcType=VARCHAR},
      system_status = #{systemStatus,jdbcType=VARCHAR},
      user_sort = #{userSort,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>